* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: Roboto, Poppins;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #02384c;
  background-color: #fff;
  padding: 20px 10px;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}
header h4 {
  font-size: 2rem;
  padding-left: 1rem;
  color: #02384c;
}  
/* NAV */
nav {
  width: 70%;
  display: flex;
}
nav ul{
  width: 100%;
  display: inline-flex;
  padding-top: 0.7rem;
  gap: 3rem;
  font-weight: 700;
  font-size: 1.2rem;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
}
/* MAIN */
main {
  padding: 1rem 0.2rem;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
    background-image: url(cas3.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.intro-text {
  width: 100%;
  padding: 1rem;
  position: relative;
}
.intro-text h2 {
  background-color: #03678b;
  border-radius: 100%;
  width: 15%;
  height: 70px;
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  color: #fff;
  position: absolute;
  right: 30%;
  top: 5%;
}
.intro-text h1 {
  background-color: #02384c;
  border-radius: 100%;
  width: 30%;
  text-align: center;
  height: 150px;
  font-size: 2.5rem;
  padding-top: 2rem;
  color: #fff;
  position: absolute;
  right: 10%;
  bottom: 40%;
}
.intro-text p {
  background-color: #03678b;
  border-radius: 100%;
  width: 40%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
  position: absolute;
  right: 15%;
  bottom: 0%;
}
.goal{
  margin: 2% 0;
}
.goal h3 {
  text-align: center;
}
.goal ul {
  font-size: 1rem;
  list-style-type: disc;
}
.main-content {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.education, .job {
  width: 49%;
}
.education section, .job section, .hobbies section {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: -2px -2px 2px #e1d9d1, 2px 2px 5px #e1d9d1;
  padding: 1rem;
  margin-bottom: 5%;
}
.goal h3, .education h3, .job h3, .hobbies h3, #contact-me h3{
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #03678b;
  color: #fff;
}
.education section h4, .job section h4, .hobbies section h4 {
  font-size: 1rem;
  width: 80%;
  margin-bottom: 1%;
}
.education section p, .job section p, .hobbies section p {
  font-size: 1rem;
  margin-bottom: 2%;
  font-weight: 500;
}
.job section ul, .goal ul{
  margin-left: 7%;
  font-weight: 500;
}
.hobbies h3{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.hobbies div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.hobbies div section {
  width: 48%;
}
/* CONTACT ME */
form {
  box-shadow: -2px -2px 20px #e1d9d1, 2px 2px 15px #e1d9d1;
  width:60%;
  padding: 20px 15px;
  margin: 5% 20% 10%;
  display: inline-block;
  background-color: transparent;
  border-radius: 5px;
}
label {
  font-weight: 700;
}
label:nth-child(1){
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #02384c;
  padding: 1rem;
  color: #fff;
}

input{
	padding: 10px;
	width:98%;
  margin-bottom: 5%;
  border: 1px solid #03678b;
  border-radius: 5px;
}
textarea {
  width: 98%;
  height: 150px;
  padding: 0.5rem;
}
select{
  padding: 0.5rem;
  font-weight: 700;
  outline: none;
  width: 98%;
  font-size: 0.9rem;
  border: 1px solid #02384c;
}
 button{
	width:70%;
	margin: 0 15%;
	padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #03678b;
  color: #fff;
  background-color: #03678b;
}
.cal {
  display: flex;
  justify-content: center;
  margin: 10% auto;
}
.cal a {
  text-decoration: none;
  background-color: #02384c;
  color: #fff;
  padding: 0.5rem 2rem;
}





/* MOBILE DEVICES */
@media screen and (max-width: 40em) {
  body {
    width: 100%;
  }
  header{
    padding: 0.5rem 0;
  }
  /* NAV */
nav {
  width: 10%;
  display: block;
  position: absolute;
  height: 100vh;
  top: 20%;
  right: 0%;
  top: 0;
  overflow-x: hidden;
  padding: 0.3rem 1rem;
  transition: all 0.2s linear;
}
nav ul{
  width: 100%;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  padding-top: 0.7rem;
  font-weight: 700;
  margin-left: 150%;
  gap: 4rem;
  font-size: 1.2rem;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
}
  .menu-btn{
    width: 10%;
    position: fixed;
    right: 5%;
    top: 2.5%;
    padding: 0.3rem;
    border: 1px solid #02384c;
  }
  .menu-btn span {
    border-bottom: 3px solid #03678b;
    display: block;
    width: 100%;
    margin-bottom: 10%;
  }
  header.active nav {
    width: 70%;
    border-left: 1px solid #03678b;
    background-color: #fff;
  }
  header.active nav .menu-btn span:nth-child(1) {
    transform: translate(0px, 5px) rotate(35deg);
  }
  header.active nav .menu-btn span:nth-child(2) {
    opacity: 0;
  }
  header.active nav .menu-btn span:nth-child(3) {
    transform: translate(0px, -6px) rotate(-35deg);
  }
  header.active nav ul {
    margin-left: 30%;
  }
  /* MAIN */
  .intro {
    background-image: url(cas3.png);
    background-repeat: no-repeat;
    background-position: top left;
  }
  .intro-text h2 {
    width: 25%;
    height: 50px;
    padding-top: 0.5rem;
    left: 15%;
    top: 15%;
    font-size: 1.4rem;
  }
  .intro-text h1 {
    font-size: 1.5rem;
    width: 40%;
    height: 80px;
    padding: 1rem;
    left: 0%;
    bottom: 40%;
  }
  .intro-text p {
    text-align: center;
    font-size: 1.1rem;
    padding: 1.2rem 0.5rem;
    right: 0%;
  }
  .goal ul {
    font-size: 1rem;
    width: 90%;
  }
  .main-content {
    display: block;
    padding: 0.8rem 0;
  }
  .education, .job {
    width: 100%;
  }
  .education section, .job section {
    width: 95%;
    margin: 0 auto 5%;
  }
  .goal h3, .education h3, .job h3, .hobbies h3, #contact-me h3 {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0 auto;
    width: 100%;
  }
  .education section h4, .job section h4, .hobbies section h4 {
    font-size: 1rem;
    width: 90%;
    color: #02384c;
  }
  .education section p, .job section p, .hobbies section p {
    font-size: 0.9rem;
  }
  .hobbies h3{
    text-align: center;
  }
  .hobbies div section {
    width: 95%;
  }
  /* CONTACT ME */
  form {
    box-shadow: -2px -2px 2px #e1d9d1, 2px 2px 5px #e1d9d1;
    width: 90%;
    margin: 5% 5% 10%;
  }
  label:nth-child(1){
    font-size: 1rem;
    padding: 0.5rem;
  }
  select {
    width: 98%;
  }
  button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}